doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    nav#top-bar.top-bar.expanded(data-topbar="" role="navigation")
      ul.title-area.large-3.medium-4.columns
        li.name
          h1.title
    .container.clearfix
      nav#actions-sidebar.large-3.medium-4.columns
        ul.side-nav
          li.heading Actions
      #main.large-9.medium-8.columns.content.form
    footer
    script(src="/javascripts/app.js")