form#bookmark_add(accept-charset="utf-8")
  fieldset
    legend Add Bookmark
    .input.text
      label(for="title") Title
      input#title(type="text" name="title" maxlength="50")
    .input.textarea
      label(for="description") Description
      textarea#description(name="description" rows="5")
    .input.textarea
      label(for="url") Url
      textarea(name="url" id="url" rows="5")
    .input.select
      label(for="tag-ids") Tags
      select#tag-ids(name="tag_ids[]" multiple="multiple")
        <% _.each(tags, function(tag) { %>
          option(value!="<%= tag.attributes.id %>") <%= tag.attributes.title %>
        <% }); %>
  button#Submit(type="submit") Submit