form#bookmark_edit(accept-charset="utf-8")
  fieldset
    legend Edit Bookmark
    input(type="hidden" name="id" maxlength="50" value!="<%= bookmark.attributes.id %>")
    .input.text
      label(for="title") Title
      input#title(type="text" name="title" maxlength="50" value!="<%= bookmark.attributes.title %>")
    .input.textarea
      label(for="description") Description
      textarea#description(name="description" rows="5") <%= bookmark.attributes.description %>
    .input.textarea
      label(for="url") Url
      textarea(name="url" id="url" rows="5") <%= bookmark.attributes.url %>
    .input.select
      label(for="tags-ids") Tags
      select#tags-ids(name="tag_ids[]" multiple="multiple")
        <% _.each(tags, function(tag) { %>
          <% if(relatedTags.indexOf(tag.attributes.id) !== -1) { %>
            option(value!="<%= tag.attributes.id %>" selected) <%= tag.attributes.title %>
          <% } else { %>
            option(value!="<%= tag.attributes.id %>") <%= tag.attributes.title %>
          <% } %>
        <% }); %>
  button#Submit(type="submit") Submit